<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Is It?...</title>
<link rel="stylesheet" type="text/css" href="style.css">
<script src="script.js"></script>
</head>
<body>
  <h1> Is It?...</h1>
    <h2>Tired of wondering if its raining outside RIGHT NOW? Too lazy to get up and look out the window?</h2>
    <h2> Is It?...is here for you. Always.</h2>
<form method="POST" action="/new">
<select name="user_choice">
  <option  value="hot"     id="hot">Is It Hot?</option>
  <option  value="cold"    id="cold">Is It Cold?</option>
  <option  value="raining" id="raining">Is It Raining?</option>
  <option  value="snowing" id="snowing">Is It Snowing?</option>
</select>


 Where Are You? <input type="text" name="user_zip" id="zip_code" value="zip"><br>
  <input type="submit" value="Enlighten Me, O Wise One!">
</form>


</body>
</html>
