<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Is It?...</title>
<link rel="stylesheet" type="text/css" href="style.css">
<script src="script.js"></script>
</head>
<body>
  <h1> Is It?...</h1>
    <h2>Tired of wondering if its raining outside RIGHT NOW? Too lazy to get up and look out the window?</h2>
    <h2> Is It?...is here for you. Always.</h2>
<form method="POST" action="/">
<select>
  <option value="hot">Is It Hot?</option>
  <option value="cold">Is It Cold?</option>
  <option value="raining">Is It Raining?</option>
  <option value="snowing">Is It Snowing?</option>
</select>


 Where Are You? <input type="text" name="zip_code" value="zip"><br>
  <input type="submit" value="Enlighten Me, O Wise One!">
</form>


</body>
</html>
